<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="dropdown">
    <button onclick="myFunction()" class="dropBtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#">L1</a>
      <a href="#">l2</a>
      <a href="#">l3</a>
    </div>
  </div>
  <script src="../static/js/dropdown.js"></script>
</body>
</html>