<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet">

</head>
<body style="background-color:white;">

    <nav class="navbar">
        <ul class="left-side">
            <li><a href="">Home</a></li>
            <li><button class="dropbtn" onclick="myFunction()">Programming Languages</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#home">Java</a>
                    <a href="#about">Javascript</a>
                    <a href="#contact">Spring Boot</a>
                </div>
            </li>
        </ul>
        <ul class="right-side">
            <li><a href="">Login</a></li>
        </ul>
    </nav>
    <aside class="sidebar">
        <ul class="mainList">
            <li> HTML
                <ul>
                    <li>url1</li>
                    <li>url2</li>
                </ul>
            </li>
            <li>Java
                <ul>
                    <li><a href="">j1</a></li>
                    <li><a href="">j2</a></li>
                    <li><a href="">j3</a></li>
                </ul>
            </li>
            <li> Spring Boot
                <ul>
                    <li>s1</li>
                    <li>s2</li>
                </ul>
            </li>
        </ul>
    </aside>
    <script>
        function myFunction(){
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function (event){
            if(!event.target.matches('.dropbtn')){
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for(i = 0; i < dropdowns.length;i++){
                    var openDropdown = dropdowns[i];
                    if(openDropdown.classList.contains('show')){
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>
</html>
